# Generated
.idea
Gemfile.lock

# 3rd Party
bower_components/
node_modules

# CSS
apps/web/assets/stylesheets/*.css

# Javascripts
apps/web/assets/javascripts/*.js

# Fonts
apps/web/assets/fonts/[fF]*.*

# Web Server Assets
/public/assets*

# Env Config
.env.*

# Other
/tmp
source.json
