<%= render partial: 'shared/navigation' %>

<div id="features-content">
  <div class="spacer"></div>
  <div id="features-wrapper">
    <div id="features-title">
      Features
    </div>
    <div class="list-group">
      <% features.each do |feature| %>
          <a href="<%= routes.features_path %>/<%= feature['id'] %>" class="list-group-item">
            <div class="feature-name"><%= feature['name'] %></div>
            <div class="feature-status">Passed</div>
            <div class="feature-icon">Test</div>
          </a>
      <% end %>
    </div>
  </div>
  <div class="spacer"></div>
</div>
