@import 'variables';
@import 'bootstrap';
@import 'features';
@import 'navbar';
@import 'font-awesome';

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#dashboard-wrapper{
    flex-grow:1;
}


#greeting-box{
    flex-grow: 1;
    text-align: center;
}